<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SuiteBSNL">

  <test  name="chromeTest">
  <parameter name="browser" value="chrome"/>
    <classes>
      <class name="test_package.Login_testng"/>
      <class name="test_package.Home_testng"/>
    </classes>
  </test> <!-- Test -->
  
  <test  name="firefoxTest">
  <parameter name="browser" value="firefox"/>
    <classes>
      <class name="test_package.Login_testng"/>
      <class name="test_package.Home_testng"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- SuiteBSNL -->
